.all_cart {
  width: 84px;
  height: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #1d1f22;
  margin-bottom: 90px;
  margin-left: 100px;
}
.all_cart_tax {
  width: 184px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
  margin-bottom: 7px;
  margin-left: 95px;
}
.all_cart_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 279px;
  height: 43px;
  background: #5ece7b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 150px;
}
