.allproducts {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  margin-left: 10%;
  margin-top: 6%;
  opacity: 1;
  z-index: 1;
}

.allproducts_name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
  text-transform: uppercase;
  margin-left: 13.5%;
  margin-top: 60px;
}

@media (max-width: 1578px) {
  .allproducts {
    justify-content: space-around;
    margin-left: 2%;
  }
}
