.allproducts {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  margin-left: 10%;
  margin-top: 6%;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 1578px) {
  .allproducts {
    justify-content: space-around;
    margin-left: 2%;
  }
}
