@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
nav li {
  list-style: none;
  margin-right: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.header_category {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #1d1f22;
}

.header_category li:hover {
  color: #5ece7b;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #5ece7b;
}

.header_cart {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1408px) {
  .header {
    justify-content: space-between;
  }
  li {
    margin-right: 10px;
  }
}
