.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.header_name {
  text-decoration: none;

  margin-left: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
  padding: 0 10px;
}
nav li {
  list-style: none;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
}

.header_category {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #1d1f22;
}
.header_dialog {
  position: absolute;
  width: 100px;
  height: auto;
  border: 1px solid #eee;
  background-color: #fff;
  margin-top: 12px;
  text-align: center;
  z-index: 1200;
  box-shadow: 0px 5px 20px 3px rgba(168, 172, 176, 0.19);
}
.header_currency {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: #1d1f22;
  background-color: #fff;

  height: auto;

  margin-bottom: 5px;
}
.header_currency:hover {
  background-color: #eee;
}

/* .header_name:focus {
  color: #5ece7b;
  font-weight: 600;
  border-bottom: 2px solid #5ece7b;
  padding-bottom: 25px;
} */

.header_name {
  color: #5ece7b;
  font-weight: 600;
  border-bottom: 2px solid #5ece7b;
  padding-bottom: 25px;
}

.header_cart {
  display: flex;
  justify-content: space-between;
}

.header_blur {
  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 8%;
  bottom: -120%;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
}
.header_badge {
  height: 24px;
  width: 24px;
  padding: 2px;
  border-radius: 100%;
  background-color: #1d1f22;
  position: relative;
  top: -33px;
  left: 17px;
  color: #fff;
  text-align: center;

  padding-top: -2px;
  padding-bottom: 22px;
}

@media (max-width: 1408px) {
  .header {
    justify-content: space-around;
    margin-right: 10px;
  }
}
